/*---------- header ----------*/
.breeze__page .header.scrolled .header__block_logo:before {
  background: linear-gradient(94.95deg, #C71DEA 0%, #1E38D7 103.53%);
}
.breeze__page .header__menu_line {
  background: linear-gradient(147.42deg, #c57af3 10.26%, #e0aacd 115.14%);
}

/*---------- hero ----------*/
.breeze__page .section__hero {
  background-image: url(../img/showcases/breeze/hero.png);
}

/*---------- section__board ----------*/
.section__updated .section__container_img {
  background-image: url(../img/showcases/breeze/updated.png);
}
.section__updated .section__container_text {
  margin-top: 140px;
}

.section__visual .section__container_img {
  background-image: url(../img/showcases/breeze/visual.png);
}
.section__visual .section__container_text {
  margin-top: 110px;
}

.section__driven .section__container_img {
  background-image: url(../img/showcases/breeze/driven.png);
}
.section__driven .section__container_text {
  margin-top: 80px;
}

/*---------- footer ----------*/
.breeze__page .footer {
  background-image: url(../img/showcases/breeze/footer.svg);
}

@media screen and (max-width: 600px) {
  .breeze__page .footer {
    background-image: url(../img/showcases/breeze/footer_mob.svg);
  }
}
@media screen and (max-width: 560px) {
  .breeze__page .section__hero {
    background-image: url(../img/showcases/breeze/hero_mob.png);
  }
  .breeze__page .hero__lines {
    background-image: url(../img/showcases/breeze/hero_lines_mob.svg);
  }
}