/*---------- header ----------*/
.breeze__page .header.scrolled .header__block_logo:before {
  background: linear-gradient(94.95deg, #C71DEA 0%, #1E38D7 103.53%);
}
.breeze__page .header__menu_line {
  background: linear-gradient(147.42deg, #c57af3 10.26%, #e0aacd 115.14%);
}

/*---------- hero ----------*/
.breeze__page .section__hero {
  background-image: url(../img/showcases/breeze/hero.png);
}

/*---------- section__summary ----------*/
.breeze__page .summary__block-info a {
  color: #C82DF3;
}

/*---------- section__comment ----------*/
.section__comment {
  background: linear-gradient(234.91deg, #C71DEA -1.74%, #1E38D7 92.3%);
}

/*---------- section__goals ----------*/
.goals__block-project h3:after,
.goals__block-project h3:before,
.goals__block-project .goal:last-child:before { 
  background: #E560FF;
}
.goals__block-project .goal {
  border-right: 1px solid #E560FF;
  padding-bottom: 80px;
}
.goals__block-business .goal {
  padding-bottom: 80px;
}
.goals__block-business .goal_1 {
  min-height: 68px;
  padding-top: 10px;
}
.goals__block-project .goal:after {
  content: url(../img/showcases/breeze/goal.svg);
}


/*---------- section__board ----------*/
.section__updated .section__container_img {
  background-image: url(../img/showcases/breeze/updated.png);
}
.section__updated .section__container_text {
  margin-top: 140px;
}

.section__visual .section__container_img {
  background-image: url(../img/showcases/breeze/visual.png);
}
.section__visual .section__container_text {
  margin-top: 110px;
}

.section__driven .section__container_img {
  background-image: url(../img/showcases/breeze/driven.png);
}
.section__driven .section__container_text {
  margin-top: 80px;
}

/*---------- section__results ----------*/
.results__block-final h3 {
  color: #AB34F4;
}

/*---------- footer ----------*/
.breeze__page .footer {
  background-image: url(../img/showcases/breeze/footer.svg);
}

@media screen and (max-width: 600px) {
  .breeze__page .footer {
    background-image: url(../img/showcases/breeze/footer_mob.svg);
  }
}
@media screen and (max-width: 560px) {
  .breeze__page .section__hero {
    background-image: url(../img/showcases/breeze/hero_mob.png);
  }
  .breeze__page .hero__lines {
    background-image: url(../img/showcases/breeze/hero_lines_mob.svg);
  }
}