/*---------- header ----------*/
.insight__page .header.scrolled .header__block_logo:before {
  background: linear-gradient(94.95deg, #2BBEA4 0%, #3E04BB 103.53%);
}
.insight__page .header__menu_line {
  background: linear-gradient(147.42deg, #ded0ff 10.26%, #68cdbd 115.14%);
}

.showcase.insight__page .header__btn_om:hover span,
.showcase.insight__page .header.scrolled .header__btn_om:hover span {
  background: #fff;
}
.showcase.insight__page .btn:hover {
  color: #00A2B8;
  background: #fff;
}

/*---------- hero ----------*/
.insight__page .section__hero {
  background-image: url(../img/showcases/insight/hero.png);
}
.showcase .hero__title span {
  font-family: 'Ekibastuz';
  font-weight: bold;
}

/*---------- section__board ----------*/
.section__updated .section__container_img {
  background-image: url(../img/showcases/insight/updated.png);
}
.section__updated .section__container_text {
  margin-top: 150px;
}

.section__visual .section__container_img {
  background-image: url(../img/showcases/insight/visual.png);
}
.section__visual .section__container_text {
  margin-top: 110px;
}

.section__driven .section__container_img {
  background-image: url(../img/showcases/insight/driven.png);
}
.section__driven .section__container_text {
  margin-top: 85px;
}

/*---------- footer ----------*/
.insight__page .footer {
  background-image: url(../img/showcases/insight/footer.svg);
}

@media screen and (max-width: 600px) {
  .insight__page .footer {
    background-image: url(../img/showcases/insight/footer_mob.svg);
  }
}
@media screen and (max-width: 560px) {
  .insight__page .section__hero {
    background-image: url(../img/showcases/insight/hero_mob.png);
  }
}