.portfolio__page .section__hero {
  height: calc(700px - 210px);
  padding-top: 210px;
  background-image: url(../img/portfolio/hero.png);
}
.section__plants .section__container_img {
  background-image: url(../img/portfolio/plants.png);
}
.section__plants .section__container_text {
  margin-top: 75px;
}
.section__insight .section__container_img {
  background-image: url(../img/portfolio/insight.png);
}
.section__insight .section__container_text {
  margin-top: 75px;
}
.section__rank .section__container_img {
  background-image: url(../img/portfolio/rank.png);
}
.section__rank .section__container_text {
  margin-top: 75px;
}

@media screen and (max-width: 1220px) {
	.portfolio__page .section__hero {
    height: calc(465px - 96px);
    padding-top: 96px;
  }
  .portfolio__page .hero__descr {
    max-width: 300px;
  }
}
@media screen and (max-width: 960px) {
  .portfolio__page .section__container_text {
    margin-top: 0;
  }
}
@media screen and (max-width: 560px) {
  .portfolio__page .section__hero {
    background-image: url(../img/portfolio/hero_mob.png);
    height: calc(365px - 96px);
  }
  .portfolio__page .hero__lines {
    background-image: url(../img/portfolio/hero_lines_mob.svg);
    background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -khtml-background-size: contain;
  }
}