/*---------- header ----------*/
.waites__page .header.scrolled .header__block_logo:before {
  background: linear-gradient(94.95deg, #E1B118 0%, #D40619 103.53%);
}
.waites__page .header__menu_line {
  background: linear-gradient(147.42deg, #e3bafc 10.26%, #f1d28a 115.14%);
}

.waites__page .btn {
  background: #4A4A4A;
}
.waites__page .btn:hover {
  background: #fff;
  color: #4A4A4A;
}

/*---------- hero ----------*/
.waites__page .section__hero {
  background-image: url(../img/showcases/waites/hero.png);
}
.showcase.waites__page .hero__lines {
  background-image: url(../img/showcases/waites/hero_lines.svg);
}

/*---------- section__summary ----------*/
.waites__page .summary__block-info a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  width: 230px;
  height: 40px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background: #4A4A4A;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
}

/*---------- section__comment ----------*/
.section__comment {
  background: linear-gradient(227.51deg, #E1B118 -3.62%, #D40619 92.18%);
}
.waites__page .comment__lines {
  background-image: url(../img/showcases/waites/comment_lines.svg);
}

/*---------- section__goals ----------*/
.goals__block-project h3:after,
.goals__block-project h3:before,
.goals__block-project .goal:last-child:before { 
  background: #FFBC31;
}
.goals__block-project .goal {
  border-right: 1px solid #FFBC31;
  padding-bottom: 40px;
}
.goals__block-business .goal {
  padding-bottom: 125px;
}
.goals__block-business .goal_2:after {
  top: 15px;
}
.goals__block-business .goal_3:after {
  top: -3px;
}
.goals__block-project .goal:after {
  content: url(../img/showcases/waites/goal.svg);
}

/*---------- section__board ----------*/
.section__updated .section__container_img {
  background-image: url(../img/showcases/waites/updated.png);
}
.section__updated .section__container_text {
  margin-top: 150px;
}

.section__alarms .section__container_img {
  background-image: url(../img/showcases/waites/alarms.png);
}
.section__alarms .section__container_text {
  margin-top: 185px;
}

.section__equipment .section__container_img {
  background-image: url(../img/showcases/waites/equipment.png);
}
.section__equipment .section__container_text {
  margin-top: 190px;
}

.section__system .section__container_img {
  background-image: url(../img/showcases/waites/system.png);
}
.section__system .section__container_text {
  margin-top: 170px;
}

/*---------- section__results ----------*/
.results__block-final h3 {
  color: #FFBC31;
}

/*---------- scrollup ----------*/
.waites__page .scrollup {
  background: url(../img/showcases/waites/arrowup.svg) no-repeat center;
}

/*---------- footer ----------*/
.waites__page .footer {
  background-image: url(../img/showcases/waites/footer.svg);
}

@media screen and (max-width: 960px) {
  .section__system .img__block.img__lines {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .waites__page .footer {
    background-image: url(../img/showcases/waites/footer_mob.svg);
  }
}

@media screen and (max-width: 560px) {
  .waites__page .section__hero {
    background-image: url(../img/showcases/waites/hero_mob.png);
  }
  .showcase.waites__page .hero__lines {
    background-image: url(../img/showcases/waites/hero_lines_mob.svg);
  }
}